<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('마이페이지')}"></head>
<body>
<main class="app-shell">
  <section class="screen active">
    <div th:replace="~{fragments/layout :: topbar('마이페이지', '/worker/home')}"></div>

    <div class="mypage-header">
      <div class="avatar avatar-72 avatar-worker"><i class="fa-regular fa-user"></i></div>
      <div>
        <h1 th:text="${member == null ? '바로알바 회원' : member.displayName()}">바로알바 회원</h1>
        <p th:text="${member != null && member.verification().phoneVerified() ? '휴대폰 인증 완료' : '휴대폰 인증 대기'}">휴대폰 인증 완료</p>
      </div>
    </div>

    <div class="menu-list">
      <a class="menu-item" th:href="@{/worker/profile/edit}">
        <i class="fa-solid fa-id-card"></i>
        구직자 프로필
      </a>
      <a class="menu-item" th:href="@{/boss/verify}">
        <i class="fa-solid fa-store"></i>
        사업자 인증
      </a>
      <a class="menu-item" th:href="@{/eval}">
        <i class="fa-solid fa-star"></i>
        평가하기
      </a>
      <a class="menu-item" th:href="@{/demo}">
        <i class="fa-solid fa-code"></i>
        API 데모 콘솔
      </a>
    </div>
  </section>
</main>
<div th:replace="~{fragments/layout :: bottomNav('my')}"></div>
<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
